<!DOCTYPE html>
<html lang="en">
    <head>
        <title>RateMyPoli</title>
        <link rel="stylesheet" href="/static/css/style.css" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    </head>
    <header>
        <a href="/">Rate My Politicians</a>
        <a href="/account/">account</a> 
      </header>
    <div id="reactEntry">
        Loading ...
    </div>
    <!-- Load JavaScript -->
    <script src="{{ url_for('static', filename='js/bundle.js') }}"></script>
</html>
